.div {
    background-color: springgreen;
}
.main {
    display: flex;
    margin-top: 0px;
    align-items: center;
    flex-direction: column;
    background-color: silver;
}


.break {
    background-color: royalblue;
}

.break2 {
    background-color: silver;
}

.post {
    width: 500px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid black;
}

.post img {
    width: 100%;
}

.post h1 {
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.paginator {
    width: 100%;
    display: flex;
    justify-content: center;
}

.paginator div {
    margin: 25px;
}

.paginator .active {
    cursor: pointer;
}

.paginator .disabled {
    cursor: pointer;
}

.paginator .disabled {
    cursor: not-allowed;
    color: rgb(179, 179, 179);
}

.bottombar {
    background-color: royalblue;
}

.toolbar {
    width: 100%;
    background-color: royalblue;
    height: 50px;
    display: flex;
    justify-content: center;
    color: rgb(195, 226, 231);
    font-size: 20px;
    font-family: serif;
}

.toolbar div {
    margin: 25px;
    cursor: pointer;
}   

.toolbar div:hover {
    color: rgb(168, 168, 168);
}

